.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_previos,
.btn_next,
.btn_page{
  border:none;
  padding:8px;
  background:white;
  border-radius: 4px;
  cursor: pointer;
}
.pagination.dark .btn_previos,
.pagination.dark .btn_next,
.pagination.dark .btn_page{
  background:#23272f;
 color:#fff;
}

.btn_previos:disabled,
.btn_next:disabled,
.btn_page:disabled{
  cursor:default;
}

.list_page{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_action{
  border:none;
  padding:8px;
  background: #000;
  color: #fff;
  border-radius: 4px;
  cursor: default;
}

