.mainPage {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.title {
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.imgBlock {
  flex: 1 1 250px;
  aspect-ratio: 1/1;
  overflow: hidden;
  background-color: #6e84f3;
}

.imgBlock img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* картинка заполняет квадрат, обрезая лишнее */
  object-position: center; /* центрируем кадрирование */
}

.discription {
  flex: 3 1 300px;
  margin-bottom: 10px;

  a {
    color: #6e84f3;
  }
  span {
    display: inline-block;
    border-radius: 5px;
    background-color: antiquewhite;
  }
}

.extra {
  /* flex: 1 1 100%; */
  font-style: italic;
}
.categoryBlock {
  flex: 1 0 100%;
  display: flex;
  gap: 10px;
}
.category {
  flex: 0 0 auto;
  padding: 5px 10px;
  border: none;
  border-radius: 20px;
  background-color: #f2f4f5;
}
