

.news_list{
  display: flex;
  gap:32px; 
  flex-wrap: wrap; 
}

li{
   flex:1 1 180px;
}

/* @media screen and (min-width: 920px) {
  .latest_news{
    flex:1 1 420px;
    min-width: 50%;
    overflow: hidden;
    
  }
} */