.list_row{
 display: flex;
 gap:12px;
 flex-wrap: wrap;
  .item{
  flex:1 1 180px;
  height: 180px;
  margin: 5px 0;
 }
}



.list_colum{
  display: flex;
  flex-direction: column;
 gap:12px;
}


.item{
  flex:1 1 180px;
  height: 80px;
  margin: 5px 0;
}

.banner{
  width: 100%;
  padding-top: 100%;
}

.banner,.item{
  background:linear-gradient(-45deg, #ff6b6b, #f7d794, #2a68dbff, #5352ed);
  background-size: 400% 400%;
  animation: pulse 2s ease-in-out infinite;
}

@keyframes pulse {
   0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}