.list{
 display: flex;
 flex-direction: column;
 position: relative;
}

.item{
  width: 100%;
  height: 80px;

}

.banner{
  width: 100%;
  padding-top: 100%;
}

.banner,.item{
  background:linear-gradient(-45deg, #ff6b6b, #f7d794, #2a68dbff, #5352ed);
  background-size: 400% 400%;
  animation: pulse 2s ease-in-out infinite;
}

@keyframes pulse {
   0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}