.header{
  display: flex;
  width: 100%;
  padding: 12px 24px;
  background-color:white;
  flex-direction: column;
  gap:12px;
  border-bottom: 1px solid #F2F4F5;
}

.title{
  font-size: 28px;
  font-weight: 800;
}

p{
  font-size: 16px;
}