.news_wrapper{
  flex:1 1 420px;
  display: flex;
  flex-direction: column;
  gap:32px;
  overflow: hidden;
}

/* @media screen and (min-width: 920px) {
  
  .news_wrapper{
    max-width: 50%;
    overflow: hidden;
    
  }
} */
