
* {
  padding:0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



.conteiner{
  padding: 24px;
  min-height: 100vh;
}

.app.dark .conteiner{
  background:#23272f;
}

.app.light .conteiner{
  background:white;
}

.app.dark h1,
.app.dark h3,
.app.dark p{
  color: azure;
}

.app.light h1,
.app.light h3,
.app.light p{
  color: black;
}