
.wrapper{
  display: flex;
  flex-direction: column;
  gap:20px;
  align-items: center;
  min-height: 100%;  
  text-align: center;
}

h1,h3{
  text-align: center;
  margin-bottom:20px ;
  margin-bottom: 20px;
}

.btn_click{
  border: none;
  border-radius:10px;
  padding: 15px;
  background-color: green;
  cursor: pointer;
}