.news_item{
  display: flex;
  gap:16px;
}

.wrapper{
  width: 64px;
  height: 64px;
  background-color: #f2f4f5;
  background-position: center;
  background-size: cover;
  flex-shrink: 0;
}

.info{
  display: flex;
  flex-direction: column;
  gap:8px;
}

.title{
font-weight: 700;
font-size: 14px;
line-height: 20px;
letter-spacing: 0%;
}

.extra{
color:#6C7072;
font-weight: 400;
font-size: 12px;
line-height: 16px;
letter-spacing: 0%;
}
